<ion-view view-title="EventDetails">


    <ion-header-bar class="bar-dark">
        <button class="button button-icon icon ion-chevron-left" ng-click="goBack()"></button>
        <h1 class="title">Evento</h1>
    </ion-header-bar>
    <div ng-show="options.connectionFail" class="bar bar-subheader bar-alert bar-assertive">
        <h2 class="title">Sin conexión</h2>
    </div>
    <ion-content class="padding">

        <h1>{{event.name}}</h1>

        <h4>{{event.date | date:"dd/MM/yyyy 'a las' HH:mm"}}</h4>
        <h3>{{event.locationText}}</h3>

        <!--            <div id="map" data-tap-disabled="true"></div>-->

    </ion-content>
</ion-view>